<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.4.1" targetFramework="net461" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net461" />
  <package id="itext7" version="7.1.16" targetFramework="net461" />
  <package id="iTextSharp.LGPLv2.Core" version="1.6.7" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.0.1" targetFramework="net461" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net461" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net461" />
  <package id="Pdf2Image" version="2.0.0" targetFramework="net461" />
  <package id="PDFium.Windows" version="1.0.0" targetFramework="net461" />
  <package id="PDFiumSharpV2" version="1.0.0" targetFramework="net461" />
  <package id="Portable.BouncyCastle" version="1.8.9" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.Drawing.Common" version="4.7.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.4" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>